.cart {
    height: 100%;
    background-color: green;
}

.cart h1 {
    text-align: center;
    padding: 10%;
    color: white;
}

.cart .cart-list {
    background:white;
    padding: 40px;
    margin: 0 15%;
    box-shadow: 2px 2px 2px 2px #888888;
    border-radius: 5px;
    font-weight: bold;
}

.cart .total {
    text-align: right;
    padding: 20px;
    font-weight: bold;

}
